services:
  db:
    container_name: dojo-db
    image: postgres:15
    platform: linux/amd64
    environment:
      - POSTGRES_USER=dba
      - POSTGRES_PASSWORD=dba
      - POSTGRES_DB=UserDB
      - TZ=America/Sao_Paulo
    ports:
      - "5432:5432"
    restart: always
    networks:
      - skynet

  pgadmin:
    container_name: dojo-dbadm
    image: elestio/pgadmin
    platform: linux/amd64
    environment:
      - PGADMIN_DEFAULT_EMAIL=dba@pgadmin.com
      - PGADMIN_DEFAULT_PASSWORD=dba
      - TZ=America/Sao_Paulo
    ports:
      - "15432:80"
    depends_on:
      - db
    restart: always
    networks:
      - skynet

networks:
  skynet:
    driver: bridge
